a {
  text-decoration: none;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  width: 378px;
}

.main {
  margin-top: 100px;
  margin-left: 300px;
  width: 60%;
  font-size: 15px;
}

.img {
  position: relative;
  top: 40px;
  left: 37px;
}

.sedan {
  position: relative;
  right: -2px;
  top: 10px;
  width: 301px;
  height: 517px;
  display: inline-block;
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.sedan-header {
  padding-left: 40px;
  padding-top: 50px;
  color: hsla(0, 0%, 100%, 0.75);
}

.sedan-para {
  line-height: 2;
  width: 208px;
  color: hsla(0, 0%, 100%, 0.75);
  padding-left: 40px;
  padding-top: 10px;
}

.sedan-button {
  padding: 15px 34px 15px 34px;
  background-color: white;
  border-radius: 30px;
  color: hsl(31, 77%, 52%);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  width: 170px;
  position: relative;
  top: 98px;
  left: 40px;
  border: solid #337FED 0;
  cursor: pointer;
  text-align: center;
}

.sedan-button:hover {
  border: solid white;
  border-radius: 30px;
  background: hsl(31, 77%, 52%);
  color: white;
}

.suv {
  width: 298px;
  height: 517px;
  display: inline-block;
  background-color: hsl(184, 100%, 22%);
}

.suv-header {
  padding-left: 40px;
  padding-top: 50px;
  color: hsla(0, 0%, 100%, 0.75);
}

.suv-para {
  line-height: 2;
  width: 208px;
  padding-left: 40px;
  padding-top: 10px;
  color: hsl(0, 0%, 95%);
}

.suv-button {
  padding: 15px 34px 15px 34px;
  background-color: white;
  border-radius: 30px;
  color: hsl(184, 100%, 22%);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  width: 170px;
  position: relative;
  top: 108px;
  left: 5px;
  border: solid #337FED 0;
  cursor: pointer;
  text-align: center;
}

.suv-button:hover {
  border: solid white;
  border-radius: 30px;
  background: hsl(184, 100%, 22%);
  color: white;
}

.luxury {
  top: -30px;
  position: relative;
  right: 3px;
  width: 298px;
  height: 517px;
  display: inline-block;
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.luxury-header {
  padding-left: 40px;
  padding-top: 50px;
  color: hsla(0, 0%, 100%, 0.75);
}

.luxury-para {
  line-height: 2;
  width: 209px;
  padding-left: 40px;
  padding-top: 10px;
  color: hsl(0, 0%, 95%);
}

.luxury-button {
  padding: 14px 31px 14px 31px;
  background-color: white;
  border-radius: 30px;
  color: hsl(179, 100%, 13%);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  width: 170px;
  position: relative;
  top: 139px;
  left: -55px;
  border: solid #337FED 0;
  cursor: pointer;
  text-align: center;
}

.luxury-button:hover {
  border: solid white;
  border-radius: 30px;
  background: hsl(179, 100%, 13%);
  color: white;
}
